#main {
    /* background-color: #97AEF4; */
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* flex-grow:1; */
    overflow-y: scroll;
    max-width: none;
    flex-grow: 1;
}

#choose_a_path {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
    border-radius: 2.5px;
    margin-top: 5rem;
}

#choose_a_path p {
    font-weight: bolder;
}

.low_visibility_link {
    background: none;
    border: none;
    color: purple;
    text-transform: lowercase;
    font-weight: bold;
}

.low_visibility_link:hover {
    cursor: pointer;
    color: blue;
}

.mobile_nav_spacer {
    height: 101px;
}

/* ----------- Desktop Display ---------- */
.feed_role_entry {
    padding: 2rem;
    padding-bottom: 4rem;
}

.feed_profile_image {
    position: relative;
    max-width: 250px;
    object-fit: cover;
    display: block;
}

.feed_profile_image::before {
    border-radius: 100%;
    content: ' ';
    display: block;
    position: absolute;
    height: 100%;
    background-image: linear-gradient(#29b5a8, #c8b5d8);
}

.feed_role_entry {
    border-bottom: 1px solid grey;
}

.feed_role_entry h1 {
    color: black;

}
/* ----------- Desktop Display ---------- */
@media (min-width: 900px) {
   #main {
    max-width: 725px;
   }

}
