#create_portfolio_form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#create_portfolio_form label, button {
    margin-top: 1rem;
}


#profile_photo {
    object-fit: cover;
    width: 60px;
    height: 60px;
}
/* -----Edit Portfolio----- */
#edit_portfolio_form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#edit_portfolio_form label, button {
    margin-top: 1rem;
}

#edit_portfolio_form span::after {
    content: '✎';
    color: black;
    right: 0px;

}

#edit_portfolio_form input:read-only {
    background: none;
    /* background-color: none; */
    border: none;
    position: relative;
}

#edit_portfolio_form input {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
}
