img {
    position: relative;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url('./assets/blank_profile.png');
}
