/* TODO Add site wide styles */
body {
    background-color: white;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#root {
    display: flex;
    background-color: white;
    margin: 0;
    position: relative;
    justify-content: center;
    height: 100%;

}



/* img:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(#29b5a8, #c8b5d8);

} */


/*----------- Forms -----------*/

.quickcast_form {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
    border-radius: 2.5px;
}

.quickcast_form > input {
    border-radius: 60px;
    border: none;
    background-color: #E3E9F7;
    margin-bottom: 1rem;
    height: 2rem;
    padding: 0px 1rem 0px 1rem;
}

.quickcast_form > label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    color: #31518F;
}

.quickcast_submit_btn {
    background-color: #ED4C6A;
    border-radius: 20px;
    border: none;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
    color: white;
    transition: background-color .25s;
}

.quickcast_submit_btn:hover {
    background-color: #db4560;
    cursor: pointer;
}

.quickcast_submit_btn:active {

}

.quickcast_form > textarea {
    border: none;
    background-color: #E3E9F7;
    border-radius: 6px;
}

@media (min-width: 900px) {
    .quickcast_form {
        width: 25rem;
        margin-right: auto;
        margin-left: auto;
    }

}



/*---------- Msc. ----------*/
.logout_btn {
    background: none;
    border: none;
    color: purple;
    text-transform: lowercase;
    font-weight: bold;
}

.logout_btn:hover {
    cursor: pointer;
    color: blue;
}

.mobile_nav_spacer {
    height: 101px;
    flex-shrink: 0;
}
