body {
    background-image: url("https://res.cloudinary.com/quickcast/image/upload/v1636731216/wepik-20211012-7329_e20om0.jpg");
}

.splash_description {
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.splash_main {
    max-width: 75%;
    margin: 0px auto 0px auto;
}

h1 {
    color: white;
}

.splash_decor {
    margin: 10px auto 10px auto;
    align-items: center;
}
