
.splash_description {
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.splash_main {
    /* margin: 0px auto 0px auto; */
    background: repeat url(https://res.cloudinary.com/quickcast/image/upload/v1636991177/cinema_hu0ibf.jpg)
}

@media (min-width: 900px) {
    .splash_main {
    }
}

h1 {
    color: white;
}

.splash_decor {
    margin: 10px auto 10px auto;
    align-items: center;
}
