#company_nav {
    display: flex;
    justify-content: center;
    top: 0px;
}

#company_nav a {
    margin: 2rem;
    text-align: center;
    width: 100px;
    color: black;

}

#company_nav a:hover {
    color: #31518F;
}

#company_nav a.active {
    border-bottom: 2px solid #ED4C6A;
}

#edit_company_form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#edit_company_form img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}
