.navigation_bar {
    display: flex;
    background: rgb(245, 245, 141);
    position:sticky;
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));}

.navigation_bar > div {
    margin: auto;
    padding: 10px;
};

.navigation_bar.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
}
