.navigation_bar {
    display: flex;
    background: green;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    /* filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255)); */
}

@media (min-width: 900px) {
    .navigation_bar {
        display: flex;
        flex-direction: column;
        background: green;
        position: static;

    }
}

.navigation_bar.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
}
